2009_weather.csv
2010_weather.csv
2011_weather.csv
2012_weather.csv
2013_weather.csv
2014_weather.csv
2015_weather.csv
taxi.csv
taxi_zones.dbf
taxi_zones.prj
taxi_zones.sbn
taxi_zones.sbx
taxi_zones.shp
taxi_zones.shp.xml
taxi_zones.shx
